body.c_body #bg:before {
  background-color: transparent;
}

/* Header */

body.is-preload #header {
  -moz-filter: none;
  -webkit-filter: none;
  -ms-filter: none;
  filter: none;
}

  body.c_body #header > * {
    opacity: 1;
  }

  body.c_body #header .content .inner {
    max-height: none;
    padding: 3rem 2rem;
    opacity: 1;
  }

/* Main */

#main article {
  opacity: 1;
  margin: 4rem 0 0 0;
}
